<div class="wrapper">
  <div class="section" style="margin-top: 50px;">
    <div class="container">
      <div class="row justify-content-center">
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
      </div>
    </div>
  </div>
  <footer class="footer footer-default">
    <div class="container">
      <div class="copyright">
        <span>
          © 2018, made with
          <i class="fa fa-heart heart"></i> by Runzhuo & Mingli
        </span>
      </div>
    </div>
  </footer>
</div>