<div class="wrapper">
  <div class="page-header">
    <div class="page-header-image rellax-header" data-rellax-speed="-4" style="background-image: url('assets/img/bg13.jpg');">
    </div>
    <div class="container">
      <div class="content-center">
        <h1 class="title" style="margin-bottom: 100px;font-weight: 500">Welcome to our marriage ceremony</h1>
        <div class="row">
          <div class="col-md-4 col-sm-4"></div>
          <!-- <div class="col-md-3 col-sm-3">
            <a routerLink="gallery" class="btn btn-primary btn-round" style="width: 80%;">
                <i class="now-ui-icons design_palette"></i> &nbsp;GALLERY
            </a>
          </div> -->
          <div class="col-md-4 col-sm-4">
            <a herf="#" routerLink="event" class="btn btn-primary btn-round" style="width: 80%;">
                <i class="now-ui-icons ui-1_calendar-60"></i> &nbsp;Event
            </a>
          </div>
          <div class="col-md-4 col-sm-4"></div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer footer-default">
    <div class="container">
      <div class="copyright">
        <span>
          © 2018, made with
          <i class="fa fa-heart heart"></i> by Runzhuo & Mingli
        </span>
      </div>
    </div>
  </footer>
</div>